/* @theme gds */

@import 'default';

:root {
  --color-fg-default: #0b0c0c;
  --color-fg-inverted: #fff;
  --h1-color: #0b0c0c;
  --color-canvas-default: #f3f2f1;
  --color-canvas-inverted: #1d70b8;
  --header-footer-color: #fff;
}

section {
  font-size: 42px;
}

section.title{
  background: var(--color-canvas-inverted);
  color: var(--color-fg-inverted);
}

section.title footer{
  display: none;
}

section.title h1{  
  color: var(--color-fg-inverted);
}

footer{
  background: var(--color-canvas-inverted);
  width: 100%;
  padding: 0.5em 2em;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  font-size: 32px;
}

footer::after {
  content: 'GDS';
  display: block;
  float: right;
}

header{
  display: none;
}

section.title header{
 display: block; 
}
