/* @theme gds */

@import 'default';

:root {
  --color-fg-default: #0b0c0c;
  --h1-color: #0b0c0c;
  --color-canvas-default: #f3f2f1;
  --color-canvas-inverted: #1d70b8;
  --header-footer-color: #fff;
}

section {
  background: #f3f2f1;
  color: #0b0c0c;
}

footer{
  background: var(--color-canvas-inverted);
  width: 100%;
  padding: 1em;
  margin: 0 -2em;
  bottom: 0;
}
